.card {
  padding: 23px 20px;
  border-radius: 10px;

  &.primary {
    background-color: #1a1a1aff;
  }

  &.secondary {
    background-color: #2a2a2aff;
  }

  &__title,
  h3 {
    color: var(--primary-white-color);
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;

    margin-bottom: 24px;
  }

  &__description,
  p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #a0a0a0ff;
  }
}
