.page {
  padding: 85px 0 30px 0;
}

.section-first {
  .content {
    gap: 100px;
  }

  .step-into-content {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

.section-second {
  &.section {
    position: relative;
  }
  .section__title {
    position: absolute;
    left: 0;
    top: 55px;
  }
  .content__block:last-child {
    /* align-self: flex-end; */
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
